@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&display=swap');

body, input, textarea, button {
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
}

textarea:focus, input:focus{
    outline: none;
}

input[type=checkbox] {
    height: 1rem;
    width: 1rem;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: silver;
    display: flex;
    flex-grow: 0;
    justify-content: center;
}

@media screen and (max-height: 700px) { .header { display: none } }

.logo {
    font-weight: 800;
}

.width-keeper {
    padding: 1em;
    flex-grow: 1;
    max-width: 100vw;
    flex: 0 1 40.20em;
}

.main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column-reverse;
}
.main::-webkit-scrollbar {
    display: none;
}

.messages {
}

.message {
    margin-bottom: 1em;
}
.message .head {
    font-weight: 600;
    color: darkslategrey;
}
.message .text {
    font-weight: 300;
    clear: both;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.message .time {
    color: gray;
    float: right;
    display: inline-block;
    font-weight: 300;
}

.footer {
    border-top: 1px solid silver;
}

.sender {
    flex-grow: 0;
    display: block;
}

.sender textarea {
    width: 100%;
    padding: 0.5em;
    margin-right: 0.5em;
    border: 1px solid silver;
}

.button {
    background-color: silver;
    border: none;
    padding: 0.5rem 1em;
    flex-grow: 0;
    font-weight: 800;
}

.d-flex {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.mb-1 {
    margin-bottom: 1rem;
}

.justify-center {
    justify-content: center;
}


.popup-container {
    position: relative;
}

.popup-container .popup-itself {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: white;
    min-width: 100%;
    box-sizing: border-box;
    border: 1px solid silver;
    padding: 0.5rem;
}

.popup-container .popup-trigger:checked + .popup-itself {
    display: block;
}

.popup-container .popup-trigger {
    display: none;
}

.popup-container .popup-label {
    display: block;
    user-select: none;
}

.select-recipient {
    display: flex;
    align-items: center;
}
.select-recipient input[type=checkbox] {
    flex-shrink: 0;
}
.select-recipient label {
    width: max-content;
}
