<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Гостевая книга</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">
</head>
<body>
  <header class="header">
    <nav class="width-keeper">
      <span class="logo">Гостевая Книга. </span>
      {% if account %}
      <span>Вы вошли как {{ account.name }}. </span>
      {% if account.admin %}
      <a href="/admin">Администрирование</a>
      {% endif %}
      {% else %}
      <span><a href="/login">Войдите</a>, чтобы добавлять комментарии.</span>
      {% endif %}
    </nav>
  </header>
  <main class="main">
    <div class="d-flex justify-center">  
    <article class="width-keeper">
      <div class="messages">
        {% for msg in messages %}
        <div class="message">
          <div class="head">
            <span style="color: cadetblue" title="{{msg.sender.name}}">{{ msg.sender.name }}</span>
            {% if account %}
            {% if account.admin %}
            <a href="/delete/{{msg.id}}"style="color: red" title="Удалить сообщение">[X]</a>
            {% endif %}
            {% endif %}
            <span class="time" title="{{ msg.time_full }}">{{ msg.time }}</span>
          </div>
          <div class="text">
            {{ msg.text }}
          </div>
        </div>
        {% endfor %}
      </div>
    </article>
    </div>
  </main>
  <footer class="d-flex justify-center footer">
    <div class="width-keeper">
      {% if account %}
      <form action="" method="post" autocomplete="off" id="form" class="sender">
        <div class="d-flex mb-05">
          <input type="text" form="form" name="text" rows="1" cols="50" required>
          <input type="submit" value="Отправить" class="button">
        </div>
      </form>
      {% else %} 
      <div>Вы вошли как <b>Гость</b>. 
      <span><a href="/login">Войдите</a>, чтобы добавлять комментарии.</span>
      {% endif %}
    </div>
  </footer>
</body>
</html>
